.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: var(--size-step--1);
  color: currentColor;
}

.navigation__list {
  padding: 10px;
  border-radius: 50px;
  transition: all .2s linear;
}

.card__area {
  --wrapper-width: 99%;
}

.card {
  color: #364442;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: end;
}

.card h3 {
  color: #364442;
}

.align-text-right {
  text-align: end;
}

