.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: var(--size-step--1);
  color: currentColor;
}

.navigation__list {
  padding: 10px;
  border-radius: 50px;
  transition: all .2s linear;
}

.align-text-right {
  text-align: end;
}

.card__area {
  --wrapper-width: 99%;
}

.card {
  color: #364442;
  border-radius: 24px;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
}

.card h3 {
  color: #364442;
}

.card__link {
  text-decoration: none;
}

.card__image {
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.card img {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer > * {
  flex: 1 1 30rem;
}

.footer__title {
  font-weight: 600;
  color: #8fdcc2;
}

.footer__details {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 530px){
  .footer__details {
    justify-content: start;
  }
}

.github__area {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 530px){
  .github__area {
    justify-content: end;
  }
}

.github__inner {
  display: flex;
  gap: 2rem;
  padding: 20px;
  border-radius: 50px;
  align-items: center;
  align-content: center;
  background-color: #2e4940;
}

.github__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  line-height: 1.2;
}

.github__svg {
  width: 41px;
  height: 40px;
}
