.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.lg-flow > * {
  margin-top: 3em;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
}

