@import "reset.css";
@import "composition.css";
@import "utilities.css";
@import "block.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,64..150,500..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global */
:root {
  --color-bg-green: #233831;
  --color-primary: #cae2da;
  --color-headings: #8fdcc2;
  --color-bg-blur: hsla(158, 23%, 18%, .7);
  --color-pink: #d094e5;
  --color-cyan: #a3dcd4;
  --color-orange: #e8b89c;
  --color-light-blue: #bddff9;
  --size-step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --size-step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
  --size-step-5: clamp(2.7994rem, 1.3847rem + 7.0732vi, 6.8665rem);
}

@font-face {
  font-family: "acorn";
  src: url('../assets/fonts/acorn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acorn-bold";
  src: url('../assets/fonts/acorn-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: var(--size-step-0);
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "acorn-bold", serif; 
  font-feature-settings: "liga";
  line-height: 1.1;
  color: var(--color-headings);
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

img:not([alt]) {
  filter: blur(10px);
}

textarea {
  width: 35ch;
  max-width: 60ch;
}
