.bg-color {
  background-color: var(--color-bg-green);
}

.bg-color-pink {
  background-color: var(--color-pink);
}

.bg-color-cyan {
  background-color: var(--color-cyan);
}

.bg-color-orange {
  background-color: var(--color-orange);
}

.bg-color-light-blue {
  background-color: var(--color-light-blue);
}

.small-text {
  font-size: var(--size-step--1);
}

.center-text {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-position {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.relative-position {
  position: relative;
}

.full-width {
  width: 100vw;
}

.xl-top-padding {
  padding-top: 128px;
}

.l-top-padding {
  padding-top: 3em;
}

.blur-background {
  background-color: var(--color-bg-blur); 
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

.wrapper {
  max-width: var(--wrapper-width, 75ch);
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.text-highlight {
  color: currentColor;
  text-underline-offset: 5px;
}

.text-highlight:hover {
  color: #d094e5;
}

