.bg-color {
  background-color: var(--color-bg-green);
}

.small-text {
  font-size: var(--size-step--1);
}

.center-text {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-position {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.relative-position {
  position: relative;
}

.full-width {
  width: 100vw;
}

.xl-top-padding {
  padding-top: 128px;
}

.blur-background {
  background-color: var(--color-bg-blur); 
  backdrop-filter: blur(20px) saturate(1.7);
}

.wrapper {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

